*.jpeg
output/
*.ipynb
stats/
.ipynb_checkpoints/
.idea/
plots/
extraLiterature/
submissions/
src/R/futureModels/
src/Python/
src/R/preprocessing/
.Rhistory
data/raw/
data/targetWords.json
data/word_freq.csv
data/word_OLD_len.csv